extends layout

block content
  .div(ng-app="dlog")
    .row(ng-controller="LoggerCtrl")

      .col-md-3
        .col-md-2(style="position: fixed;")
          input.form-control(type="number", ng-model="size", ng-change="logReload()")
          input.form-control(type="text", ng-model="queryStr", ng-change="logReload()")
          ul.nav.nav-pills.nav-stacked.dlog-sidebar

            //- service select
            li.sidebar-head
              a="Service"
            li(ng-repeat="(label, val) in showService")
              a(href="#")
                input(type="checkbox", id="service-{{ label }}", ng-model="showService[label]", value="{{ val }}", ng-change="logReload()")
                label(for="service-{{ label }}")
                  span
                  =" {{ label }}"

            li.sidebar-head
              a="Level"

            li(ng-repeat="(label, val) in showLevel")
              a(href="#")
                input(type="checkbox", id="level-{{ label }}", ng-model="showLevel[label]", value="{{ val }}", ng-change="logReload()")
                label(for="level-{{ label }}")
                  span
                  =" {{ label }}"


      .col-md-9
        h1
          ="appLog"
          small="Logger - 共 {{ total }} 筆 "
        .col-md-4
            input#timeStart.form-control(type="datetime-local", value="1996-12-19T16:39:57", ng-model="timeStart", ng-change="logReload()")
        .col-md-4
            input#timeEnd.form-control(type="datetime-local", value="1996-12-19T16:39:57", ng-model="timeEnd", ng-change="logReload()")

      .col-md-3
      .col-md-9#logs-table
        table.table
          thead
            tr
              th='#'
              th='Service'
              th='Level'
              th='Time'
              th='Message'
              th='Stack'
          tbody
            tr(ng-repeat="log in logs | orderBy:predicate:reverse", class="{{ log.level }}")
              td=""
              td="{{ log.service }}"
              td="{{ log.level }}"
              td="{{ log.time | date:'yyyy-MM-dd HH:mm:ss' }}"
              td="{{ log.message }}"
              td
                i.fa.fa-code(popover-placement="auto", popover="{{ log.stackStr }}", popover-trigger="mouseenter", popover-title="The title." )

        div &nbsp;
        div &nbsp;
        div &nbsp;


block scripts
    //- script(type="text/javascript", src="javascripts/app/app.js")
    //- script(type="text/javascript", src="javascripts/app/factories.js")
    //- script(type="text/javascript", src="javascripts/app/controllers.js")
