extends layout

block content
  .div(ng-app="ml")
    .row(ng-controller="LoggerCtrl")

      .col-md-3
        .col-md-2(style="position: fixed;")
          input.form-control(type="number", ng-model="size")
          ul.nav.nav-pills.nav-stacked.ml-sidebar
            li.sidebar-head
              a="Service"
            li
              a(href="#")
                input(type="checkbox", id="chkShowAdmin", ng-model="showService['meepshop-admin']",value="true")
                label(for="chkShowAdmin")
                  span
                  =" Meepshop-Admin"
            li
              a(href="#")
                input(type="checkbox", id="chkShowSystem", ng-model="showService['meepshop-system']")
                label(for="chkShowSystem")
                  span
                  =" Meepshop-System"
            li
              a(href="#")
                input(type="checkbox", id="chkShowStore", ng-model="showService['meepshop-store']")
                label(for="chkShowStore")
                  span
                  =" Meepshop-Store"
            li
              a(href="#")
                input(type="checkbox", id="chkShowFacade", ng-model="showService['meepshop-facade']")
                label(for="chkShowFacade")
                  span
                  =" Meepshop-Facade"
            li.sidebar-head
              a="Level"
            li
              a(href="#")
                input(type="checkbox", id="chkShowError", ng-model="showLevel.error")
                label(for="chkShowError")
                  span
                  =" Error"
            li
              a(href="#")
                input(type="checkbox", id="chkShowWarning", ng-model="showLevel.warning")
                label(for="chkShowWarning")
                  span
                  =" Warning"
              a(href="#")
                input(type="checkbox", id="chkShowInfo", ng-model="showLevel.info")
                label(for="chkShowInfo")
                  span
                  =" INFO"
              a(href="#")
                input(type="checkbox", id="chkShowDebug", ng-model="showLevel.debug")
                label(for="chkShowDebug")
                  span
                  =" DEBUG"

      .col-md-9
        h1
          ="Meepshop"
          small="Logger - 共 {{ total }} 筆 {{showService['meepshop-admin']}}"

      .col-md-3
      .col-md-9#logs-table
        table.table
          thead
            tr
              th='#'
              th='Service'
              th='Level'
              th='Time'
              th='Message'
          tbody
            tr(ng-repeat="log in logs | orderBy:predicate:reverse", class="{{ log.rowColorClass }}")
              td=""
              td="{{ log.msg.service }}"
              td="{{ log.level }}"
              td="{{ log.time | date:'yyyy-MM-dd HH:mm:ss Z' }}"
              td="{{ log.msg.message }}"

        div &nbsp;
        div &nbsp;
        div &nbsp;


block scripts
    //- script(type="text/javascript", src="javascripts/app/app.js")
    //- script(type="text/javascript", src="javascripts/app/factories.js")
    //- script(type="text/javascript", src="javascripts/app/controllers.js")
